<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <title>signedin</title>
</head>
<body>
    <div class="banr">
        <h1 class="wel"><em>Welcome to TinyTreasures</em></h1>
        
    </div>
    <div class="con1">
            <a href="#" class="toys">Toys</a>
            <img src="/static/images/lego.png" alt="toys" class="lego">
            <a href="#" class="cloth">Clothes</a>
            <img src="/static/images/h and m.jpg" alt="hm" class="hm">
            <a href="#" class="furn">Furniture</a>
            <img src="/static/images/ikea.jpg" alt="ikea" class="ikea">
        
    </div>
    <div class="con2">

    </div>
    <div class="con2">
        <table>
            <tr>
                <td>
                    <div class="tr1">\
                        <img src="/static/images/crib tr1.jpg" alt="crib" class="crib-tr1">
                        <div class="tr1-details">
                            <h3>used for one year</h3>
                            <h4>good condition</h4>
                            <a href="#">show more details</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="con3">
    <button type="button" class="logb" onclick="window.location.href='/signin'">logout</button>
    </div>
</body>
</html>